<div class="container mt-5">
    <div class="row">
       <h1 class="mt-5">Products</h1>

       <div class="container mt-4">
        <div class="row">
            <!-- Sidebar Filters -->
            <div class="col-md-3">
                <h4>Filter:</h4>
                <hr>    
                <h5>Availability</h5>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inStock">
                    <label class="form-check-label" for="inStock">In stock (9)</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="outOfStock">
                    <label class="form-check-label" for="outOfStock">Out of stock (3)</label>
                </div>
                <hr>
                <h5>Search</h5>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by name or brand name" aria-label="Search">
                    <span class="input-group-text">
                        <i class="bi bi-search"></i>
                    </span>
                </div>
                <hr>
                <h5 class="mt-4">Price</h5>
                <label for="customRange1" class="form-label">Example range</label>
                <input type="range" class="form-range" id="customRange1">
                <hr>
                <!-- Price filter (input, range, etc.) -->
    
                <h5>Category</h5>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="Iphone">
                    <label class="form-check-label" for="Iphone">Iphone</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="outOfStock">
                    <label class="form-check-label" for="Samsung">Samsung</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="outOfStock">
                    <label class="form-check-label" for="Samsung">Oppo</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="outOfStock">
                    <label class="form-check-label" for="Samsung">Samsung Galaxy</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="outOfStock">
                    <label class="form-check-label" for="Samsung">Xiaomi</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="outOfStock">
                    <label class="form-check-label" for="Samsung">Realme</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="outOfStock">
                    <label class="form-check-label" for="Samsung">Huawei</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="outOfStock">
                    <label class="form-check-label" for="Samsung">Honor</label>
                </div>
                <hr>

                <h5>Accessories</h5>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="inStock">
                    <label class="form-check-label" for="inStock">Earpodes</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="outOfStock">
                    <label class="form-check-label" for="outOfStock">Powerbank</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="outOfStock">
                    <label class="form-check-label" for="outOfStock">Smartwatch</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="outOfStock">
                    <label class="form-check-label" for="outOfStock">Tempard Glass</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="outOfStock">
                    <label class="form-check-label" for="outOfStock">Cover</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="outOfStock">
                    <label class="form-check-label" for="outOfStock">USB Cable</label>
                </div>


            </div>


        <!-- Product Grid -->
        <div class="col-md-9">
            <div class="d-flex justify-content-between align-items-center mb-4 py-4 px-3 dd">
           
                <div>
                    <select class="form-select" aria-label="Sort by">
                        <option selected>Alphabetically, A-Z</option>
                        <option value="1">Price, low to high</option>
                        <option value="2">Price, high to low</option>
                    </select>
                </div>
            </div>
            

            <div class="row">
                <!-- Product 1 -->
                <div class="col-md-4">
                    <div class="card position-relative" style="min-height: 560px;"> 
                        <span class="sold-out" style="position: absolute; top: 10px; left: 10px; background-color: rgba(255, 0, 0, 0.7); color: white; padding: 5px 10px; border-radius: 5px;"><span><s style="font-size: 16px; color: w;">$1900.00</s></span></span>
                        <img src="samsung-galaxy-z-fold6.webp" class="card-img-top" alt="Phone 3">
                        <div class="card-body text-center" style="background-color:#F2F2F3 ;">
                            <h5 class="card-title" style="font-weight: bold; font-size: 1.25rem;">AFFINITY R18 PRO</h5>
                            <p class="card-text" style="font-size: 1.2rem; color: #EB0028;">$559.19 
                                
                            </p>
                            <p class="text-warning">
                                ★★★★☆
                                <small>(1 review)</small>
                             
                            
                                </p>
                         
                            <div class="d-flex justify-content-evenly mt-3" >
                                <button class="btn btn-primary" routerLink="/chart" style="margin-top: 30px;">Add to Cart</button>
                                <button class="btn btn-success" routerLink="/details"  style="margin-top: 30px;">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Product 2 -->
                <div class="col-md-4">
                    <div class="card position-relative" style="min-height: 560px;">
                        <span class="sold-out" style="position: absolute; top: 10px; left: 10px; background-color: rgba(255, 0, 0, 0.7); color: white; padding: 5px 10px; border-radius: 5px;"><span><s style="font-size: 16px; color: w;">$1900.00</s></span></span>
                        <img src="samsung-galaxy-z-fold6.webp" class="card-img-top" alt="Phone 3">
                        <div class="card-body text-center" style="background-color:#F2F2F3 ;">
                            <h5 class="card-title" style="font-weight: bold; font-size: 1.25rem;">AFFINITY R18 PRO</h5>
                            <p class="card-text" style="font-size: 1.2rem; color: #EB0028;">$559.19 
                                
                            </p>
                            <p class="text-warning">
                                ★★★★☆
                                <small>(1 review)</small>
                             
                            
                                </p>
                         
                            <div class="d-flex justify-content-evenly mt-3" >
                                <button class="btn btn-primary" routerLink="/chart" style="margin-top: 30px;">Add to Cart</button>
                                <button class="btn btn-success" routerLink="/details"  style="margin-top: 30px;">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            
                <!-- Product 3 -->
                <div class="col-md-4">
                    <div class="card position-relative" style="min-height: 560px;"> 
                        <span class="sold-out" style="position: absolute; top: 10px; left: 10px; background-color: rgba(255, 0, 0, 0.7); color: white; padding: 5px 10px; border-radius: 5px;"><span><s style="font-size: 16px; color: w;">$1900.00</s></span></span>
                        <img src="samsung-galaxy-z-fold6.webp" class="card-img-top" alt="Phone 3">
                        <div class="card-body text-center" style="background-color:#F2F2F3 ;">
                            <h5 class="card-title" style="font-weight: bold; font-size: 1.25rem;">AFFINITY R18 PRO</h5>
                            <p class="card-text" style="font-size: 1.2rem; color: #EB0028;">$559.19 
                                
                            </p>
                            <p class="text-warning">
                                ★★★★☆
                                <small>(1 review)</small>
                             
                            
                                </p>
                         
                            <div class="d-flex justify-content-evenly mt-3" >
                                <button class="btn btn-primary" routerLink="/chart" style="margin-top: 30px;">Add to Cart</button>
                                <button class="btn btn-success" routerLink="/details"  style="margin-top: 30px;">Details</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="card position-relative" style="min-height: 560px;"> 
                        <span class="sold-out" style="position: absolute; top: 10px; left: 10px; background-color: rgba(255, 0, 0, 0.7); color: white; padding: 5px 10px; border-radius: 5px;"><span><s style="font-size: 16px; color: w;">$1900.00</s></span></span>
                        <img src="samsung-galaxy-z-fold6.webp" class="card-img-top" alt="Phone 3">
                        <div class="card-body text-center" style="background-color:#F2F2F3 ;">
                            <h5 class="card-title" style="font-weight: bold; font-size: 1.25rem;">AFFINITY R18 PRO</h5>
                            <p class="card-text" style="font-size: 1.2rem; color: #EB0028;">$559.19 
                                
                            </p>
                            <p class="text-warning">
                                ★★★★☆
                                <small>(1 review)</small>
                             
                            
                                </p>
                         
                            <div class="d-flex justify-content-evenly mt-3" >
                                <button class="btn btn-primary" routerLink="/chart" style="margin-top: 30px;">Add to Cart</button>
                                <button class="btn btn-success" routerLink="/details"  style="margin-top: 30px;">Details</button>
                            </div>
                        </div>
                    </div>
                </div>








                <div class="col-md-4">
                    <div class="card position-relative" style="min-height: 560px;"> 
                        <span class="sold-out" style="position: absolute; top: 10px; left: 10px; background-color: rgba(255, 0, 0, 0.7); color: white; padding: 5px 10px; border-radius: 5px;"><span><s style="font-size: 16px; color: w;">$1900.00</s></span></span>
                        <img src="samsung-galaxy-z-fold6.webp" class="card-img-top" alt="Phone 3">
                        <div class="card-body text-center" style="background-color:#F2F2F3 ;">
                            <h5 class="card-title" style="font-weight: bold; font-size: 1.25rem;">AFFINITY R18 PRO</h5>
                            <p class="card-text" style="font-size: 1.2rem; color: #EB0028;">$559.19 
                                
                            </p>
                            <p class="text-warning">
                                ★★★★☆
                                <small>(1 review)</small>
                             
                            
                                </p>
                         
                            <div class="d-flex justify-content-evenly mt-3" >
                                <button class="btn btn-primary" routerLink="/chart" style="margin-top: 30px;">Add to Cart</button>
                                <button class="btn btn-success" routerLink="/details"  style="margin-top: 30px;">Details</button>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="col-md-4">
                    <div class="card position-relative" style="min-height: 560px;"> 
                        <span class="sold-out" style="position: absolute; top: 10px; left: 10px; background-color: rgba(255, 0, 0, 0.7); color: white; padding: 5px 10px; border-radius: 5px;"><span><s style="font-size: 16px; color: w;">$1900.00</s></span></span>
                        <img src="samsung-galaxy-z-fold6.webp" class="card-img-top" alt="Phone 3">
                        <div class="card-body text-center" style="background-color:#F2F2F3 ;">
                            <h5 class="card-title" style="font-weight: bold; font-size: 1.25rem;">AFFINITY R18 PRO</h5>
                            <p class="card-text" style="font-size: 1.2rem; color: #EB0028;">$559.19 
                                
                            </p>
                            <p class="text-warning">
                                ★★★★☆
                                <small>(1 review)</small>
                             
                            
                                </p>
                         
                            <div class="d-flex justify-content-evenly mt-3" >
                                <button class="btn btn-primary" routerLink="/chart" style="margin-top: 30px;">Add to Cart</button>
                                <button class="btn btn-success" routerLink="/details"  style="margin-top: 30px;">Details</button>
                            </div>
                        </div>
                    </div>
                </div>










                <div class="col-md-4">
                    <div class="card position-relative" style="min-height: 560px;"> 
                        <span class="sold-out" style="position: absolute; top: 10px; left: 10px; background-color: rgba(255, 0, 0, 0.7); color: white; padding: 5px 10px; border-radius: 5px;">Sold Out</span>
                        <img src="samsung-galaxy-z-fold6.webp" class="card-img-top" alt="Phone 3">
                        <div class="card-body text-center" style="background-color:#F2F2F3 ;">
                            <h5 class="card-title" style="font-weight: bold; font-size: 1.25rem;">AFFINITY R18 PRO</h5>
                            <p class="card-text" style="font-size: 1.2rem; color: #EB0028;">$559.19 
                                
                            </p>
                            <p class="text-warning">
                                ★★★★☆
                                <small>(1 review)</small>
                             
                            
                                </p>
                         
                            <div class="d-flex justify-content-evenly mt-3" >
                                <button class="btn btn-primary" routerLink="/chart" style="margin-top: 30px;">Add to Cart</button>
                                <button class="btn btn-success" routerLink="/details"  style="margin-top: 30px;">Details</button>
                            </div>
                        </div>
                    </div>
                </div>








                <div class="col-md-4">
                    <div class="card position-relative" style="min-height: 560px;"> 
                        <span class="sold-out" style="position: absolute; top: 10px; left: 10px; background-color: rgba(255, 0, 0, 0.7); color: white; padding: 5px 10px; border-radius: 5px;">Sold Out</span>
                        <img src="samsung-galaxy-z-fold6.webp" class="card-img-top" alt="Phone 3">
                        <div class="card-body text-center" style="background-color:#F2F2F3 ;">
                            <h5 class="card-title" style="font-weight: bold; font-size: 1.25rem;">AFFINITY R18 PRO</h5>
                            <p class="card-text" style="font-size: 1.2rem; color: #EB0028;">$559.19 
                                
                            </p>
                            <p class="text-warning">
                                ★★★★☆
                                <small>(1 review)</small>
                             
                            
                                </p>
                         
                            <div class="d-flex justify-content-evenly mt-3" >
                                <button class="btn btn-primary" routerLink="/chart" style="margin-top: 30px;">Add to Cart</button>
                                <button class="btn btn-success" routerLink="/details"  style="margin-top: 30px;">Details</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card position-relative" style="min-height: 560px;"> <!-- زيادة الارتفاع هنا -->
                        <span class="sold-out" style="position: absolute; top: 10px; left: 10px; background-color: rgba(255, 0, 0, 0.7); color: white; padding: 5px 10px; border-radius: 5px;">Sold Out</span>
                        <img src="samsung-galaxy-z-fold6.webp" class="card-img-top" alt="Phone 3">
                        <div class="card-body text-center" style="background-color:#F2F2F3 ;">
                            <h5 class="card-title" style="font-weight: bold; font-size: 1.25rem;">AFFINITY R18 PRO</h5>
                            <p class="card-text" style="font-size: 1.2rem; color: #EB0028;">$559.19 
                                
                            </p>
                            <p class="text-warning">
                                ★★★★☆
                                <small>(1 review)</small>
                             
                            
                                </p>
                         
                            <div class="d-flex justify-content-evenly mt-3" >
                                <button class="btn btn-primary" routerLink="/chart" style="margin-top: 30px;">Add to Cart</button>
                                <button class="btn btn-success" routerLink="/details"  style="margin-top: 30px;">Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

