<nav class="navbar navbar-expand-lg bg-body-tertiary px-3">
  <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand" href="#"><img src="logo.png" alt="logo"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse textt" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-center">
              <li class="nav-item px-2">
                  <a class="nav-link active" aria-current="page" routerLink="">Home</a>
              </li>
              <li class="nav-item dropdown px-2">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dashboard
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/dashboard/add-phone">Add phone</a></li>
                      <li><a class="dropdown-item" routerLink="/dashboard/delete-phone">Delete phone</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" routerLink="/dashboard/edit-phone">Update phone</a></li>
                  </ul>
              </li>
              <li class="nav-item px-2">
                  <a class="nav-link" routerLink="shop">Shop</a>
              </li>
              <li class="nav-item px-2">
                  <a class="nav-link" routerLink="android">Android</a>
              </li>
              <li class="nav-item px-2">
                  <a class="nav-link" routerLink="iphone">Iphone</a>
              </li>
              <li class="nav-item px-2">
                  <a class="nav-link" routerLink="accessories">Accessories</a>
              </li>
              <li class="nav-item dropdown px-2">
                  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Pages
                  </a>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/contact-us">Contact Us</a></li>
                      <li><a class="dropdown-item" routerLink="/chart">Chart</a></li>
                      <li><a class="dropdown-item" routerLink="/checkout">Check out</a></li>
                      <li><a class="dropdown-item" routerLink="/details">Details</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" routerLink="/dasdad">Page not found</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown px-2">
                  <a routerLink="login"><i class="bi bi-person"></i></a>
              </li>
              <li class="nav-item dropdown px-2">
                  <a routerLink="chart"><i class="bi bi-cart2"></i></a>
              </li>
          </ul>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>
