<!-- banner start  -->
<div class="banner" id="banner">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
    <div class="carousel-inner">
      <div class="carousel-item item-bg active ">
        <img class="d-block w-100 h-100" src="slider-1.jpg" alt="banner">
        <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
          <div class="carousel-content active-content text-center">
            <p class="baner-p">ZANIA BLACK EDITION</p>
            <h1 class="baner-h1">CURVY BEVEL <br> <span style="font-size: 90px;">DUAL AUDIO</span></h1>
            <a routerLink="login" class="btn btn-lg btn-round btn-theme Clor-btn btn-outline-light align-self">SHOP NOW</a>
          </div>
        </div>
      </div>
      <div class="carousel-item item-bg">
        <img class="d-block w-100 h-100" src="slider-2.jpg" alt="banner">
        <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
          <div class="carousel-content left-content text-center">
            <p class="baner-p" style="color: black;">4K RESOLUTION</p>
           <h1 class="baner-h1" style="color: black;">EXCLUSIVE <br> <span style="font-size: 90px; color: black; letter-spacing: 5px; font-weight: 700;">STEEL FRAME</span></h1>
           <a routerLink="login" class="btn btn-lg btn-round btn-theme Clor-btn btn-outline-light align-self">SHOP NOW</a>
          </div>
        </div>
      </div>
      <div class="carousel-item item-bg">
        <img class="d-block w-100 h-100" src="slider-3.webp" alt="banner">
        <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
      <span class="slider-mover-left" aria-hidden="true">
        <i class="bi bi-chevron-left"></i>
      </span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
      <span class="slider-mover-right" aria-hidden="true">
        <i class="bi bi-chevron-right"></i>
      </span>
    </a>
  </div>
</div>
<!-- banner end  -->

<!-- support start  -->
<div class="bg-custom d-flex justify-content-center align-items-center py-5">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4 img-text-container">
        <img src="free-deliver-icon.png" alt="صورة 1">
        <div>
          <h5>Free Shipping</h5>
          <p style="color: #8A8A8A; font-weight: 600;">For orders over $50</p>
        </div>
      </div>
      <div class="col-12 col-md-4 img-text-container">
        <img src="offers-icon.png" alt="صورة 2">
        <div>
          <h5>Official Discounts</h5>
          <p style="color: #8A8A8A; font-weight: 600;">Save Big on next product</p>
        </div>
      </div>
      <div class="col-12 col-md-4 img-text-container">
        <img src="support-icon.png" alt="صورة 3">
        <div>
          <h5>24/7 Helpline</h5>
          <p style="color: #8A8A8A; font-weight: 600;">Care till the end</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- support end -->

<!-- grid start  -->
<div class="container-fluid text-center my-3">
  <div class="row no-gutters">
    <div class="col-sm-6">
      <div class="img-container">
        <img src="1437813140.avif" alt="Image 1" class="img-fluid custom-img">
        <p>DOT NOTCH DISPLAY</p>
        <h1>SMOOTH CONTROL</h1>
        <button routerLink="/shop">View</button>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="img-container">
        <img src="androidphones-2048px-04392.webp" alt="Image 2" class="img-fluid custom-img">
        <p>CURVED CERAMIC BODY</p>
        <h1>EXTREMELY THIN AND LIGHT</h1>
        <button routerLink="/shop">View</button>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-sm-4">
      <div class="img-container">
        <img src="gal3.jpg" alt="Image 3" class="img-fluid custom-img">
        <p>FAST CHARGING</p>
        <h1>LONG LIFE BATTARY</h1>
        <button routerLink="/shop">View</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="img-container">
        <img src="gal4.jpg" alt="Image 4" class="img-fluid custom-img">
        <p>HIGH SPEED</p>
        <h1>POWER OF ANDROID</h1>
        <button routerLink="/shop">View</button>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="img-container">
        <img src="taking_photo_of_forest_on_smartphone_1600x.webp" alt="Image 5" class="img-fluid custom-img">
        <p>BEAUTIFUL FINISH</p>
        <h1>SEVEN LAYER COLOR</h1>
        <button routerLink="/shop">View</button>
      </div>
    </div>
  </div>
</div>
<!-- grid end  -->

<!-- iphone start  -->
<div class="container">
  <div class="row">
      <div class="heading text-center mt-4 py-5">
          <h1>INNOVATIVE QUALITIES & FEATURES</h1>
          <p class="heading-ph py-3">SHOW YOURS TO THE WORLD</p>
      </div>
      <div class="col-md-4">
          <div class="d-flex flex-column">
              <div class="d-flex align-items-center py-5">
                  <div>
                      <h4>A18 PRO BIONIC CHIP</h4>
                      <p class="p-text" >Powerful performance with advanced <br> processing  capabilities for gaming and multitasking.</p>
                  </div>
                  <div>
                      <img src="ic5.png" class="zoom" alt="">
                  </div>
              </div>
              <div class="d-flex align-items-center py-5">
                  <div>
                      <h4>HIGH-FIDELITY AUDIO</h4>
                      <p class="p-text" >Spatial audio with dynamic head tracking provides an immersive sound experience. High-quality stereo .</p>
                  </div>
                  <div>
                      <img src="ic6.webp" class="zoom" alt="">
                  </div>
              </div>
              <div class="d-flex align-items-center py-5">
                  <div>
                      <h4>SUPER RETINA XDR DISPLAY</h4>
                      <p class="p-text" >6.7-inch OLED display with stunning colors and HDR support for immersive viewing.</p>
                  </div>
                  <div>
                      <img src="ic3.webp" class="zoom" alt="">
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-4 text-center">
          <img src="ihpp.png" alt="" class="img-fluid zoom">
      </div>

      <div class="col-md-4">
          <div class="d-flex flex-column">
              <div class="d-flex align-items-center py-5 ">
                  <div>
                      <img src="ic1.webp" class="zoom" alt="">
                  </div>
                  <div class="px-5">
                      <h4>5G CAPABILITY</h4>
                      <p class="p-text" >Experience lightning-fast download speeds and improved connectivity with 5G.</p>
                  </div>
              </div>
              <div class="d-flex align-items-center py-5 ">
                  <div>
                      <img src="ic4.webp" class="zoom" alt="">
                  </div>
                  <div class="px-5">
                      <h4>MULIT TASKING & THREADING</h4>
                      <p class="p-text" >The A18 pro Bionic chip allows seamless multitasking, enabling users to run multiple apps.</p>
                  </div>
              </div>
              <div class="d-flex align-items-center py-3 ">
                  <div>
                      <img src="ic2.png" class="zoom" alt="">
                  </div>
                  <div class="px-5">
                      <h4>CLOUD STORAGE</h4>
                      <p class="p-text" >With iCloud, users can store photos, videos, documents.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<hr>
<!-- iphone end  -->


 <!-- specs start  -->

 <div class="container mb-5">
  <div class="row">
    <div class="heading text-center mt-4 py-5">
      <h1>WHAT MAKES THE ESSENTIAL DIFFERENT?</h1>
      <p class="heading-ph py-3">EXPERIENCE HIGH PERFORMANCE AND SECURE</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-4 text-center">
      <div class="d-flex flex-column">
        <img src="ic12.webp" class="zoom xx py-5" alt="">
        <h5>HIGH PERFORMANCE</h5>
        <h3>INTELLIGENT PROCESSING</h3>
        <p class="p-text" >Powered by the A18 pro Bionic chip, the iPhone 16 Pro Max delivers exceptional performance and efficiency.</p>
      </div>
    </div>

    <div class="col-12 col-md-4 text-center">
      <div class="d-flex flex-column">
        <img src="ic13.avif" class="zoom xx py-5" alt="">
        <h5>PROFESSIONAL GRADE</h5>
        <h3>TRIPLE CAMERA SYSTEM</h3>
        <p class="p-text" >The iPhone 16 Pro Max features a triple 48MP camera system with advanced low-light capabilities, a 2.5x optical zoom.</p>
      </div>
    </div>

    <div class="col-12 col-md-4 text-center">
      <div class="d-flex flex-column">
        <img src="ic11.webp" class="zoom xx py-5" alt="">
        <h5>MOST POPULAR</h5>
        <h3>8GB RAM</h3>
        <p class="p-text" >The iPhone 16 Pro Max comes with 8GB of RAM, ensuring smooth multitasking and efficient performance applications and games.</p>
      </div>
    </div>
  </div>
</div>

<!-- specs end  -->

<!-- parteners start  -->

<div class="partners bg-grea partners-two ">
  <div class="container">
    <h1 class="text-center" style="color: black; padding-bottom: 25px;">Partners</h1>
    <div class="slick-slider-area ">
      <div class="slick-carousel">
        <div class="slick-slide-item">
          <img src="partner1.webp" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner2.jpg" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner3.png" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner4.jpg" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner5.jpg" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner6.jpg" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner7.webp" alt="brand">
        </div>
        <div class="slick-slide-item">
          <img src="partner8.png" alt="brand">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- partners end  -->

<!-- new arrivals start  -->

<div class="container py-5">

  <div class="text-center">
    <h1>NEW ARRIVALS</h1>
    <p class="pb-5 pt-2" style="letter-spacing: 7px; color: #8A8A8A;">FIND THE PERFECT PHONE FOR YOU</p>
  </div>
  <div class="row justify-content-center">
    <!-- card one  -->
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="card">
        <img src="Apple-iPhone-16-Pro-Max.webp" class="card-img-top pb-3" alt="...">

        <div class="content-card" style="background-color: #F2F2F3;">
          <h5 class="card-title text-center pt-4">Iphone 16 Pro Max</h5>
          <p class="card-text text-center"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> 
            <span style="font-size: 18px; color: #000000; "> 21 reviews</span>
          </p>
          <p class="card-text text-center py-3">
            <span style="font-size: 20px; color: #EB0028; font-weight: 400; margin-right: 15px;">$1300.00</span>
            <span><s style="font-size: 16px; color: #EB0028;">$1500.00</s></span>
          </p>
          <div class="d-flex justify-content-evenly pb-3">
            <button class="card-button btn-outline-light" routerLink="/chart">Add TO Chart</button>
            <button class="bg-success btn2" routerLink="/details" >Details</button>
          </div>
        </div>
      </div>
    </div>
    <!-- card one end  -->

    <!-- card two  -->
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="card">
        <img src="iPhone-15-Pro-Max-2.webp" class="card-img-top pb-3" alt="...">

        <div class="content-card" style="background-color: #F2F2F3;">
          <h5 class="card-title text-center pt-4">Iphone 15 Pro Max</h5>
          <p class="card-text text-center"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> 
            <span style="font-size: 18px; color: #000000;"> 7 reviews</span>
          </p>
          <p class="card-text text-center py-3">
            <span style="font-size: 20px; color: #EB0028; font-weight: 400; margin-right: 15px;">$1150.00</span>
            <span><s style="font-size: 16px; color: #EB0028;">$1350.00</s></span>
          </p>
          <div class="d-flex justify-content-evenly pb-3">
            <button class="card-button btn-outline-light" routerLink="/chart">Add TO Chart</button>
            <button class="bg-success btn2" routerLink="/details" >Details</button>
          </div>
        </div>
      </div>
    </div>
    <!-- card two end  -->

    <!-- card three  -->
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="card">
        <img src=" Samsung-Galaxy-S24-Ultra-5G.webp" class="card-img-top pb-3" alt="...">

        <div class="content-card" style="background-color: #F2F2F3;">
          <h5 class="card-title text-center pt-4">Samsung Galaxy S24 Ultra</h5>
          <p class="card-text text-center"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> 
            <span style="font-size: 18px; color: #000000;"> 28 reviews</span>
          </p>
          <p class="card-text text-center py-3">
            <span style="font-size: 20px; color: #EB0028; font-weight: 400; margin-right: 15px;">$1250.00</span>
            <span><s style="font-size: 16px; color: #EB0028;">$1400.00</s></span>
          </p>
          <div class="d-flex justify-content-evenly pb-3">
            <button class="card-button btn-outline-light" routerLink="/chart">Add TO Chart</button>
            <button class="bg-success btn2" routerLink="/details" >Details</button>
          </div>
        </div>
      </div>
    </div>
    <!-- card three end  -->

    <!-- card four  -->
    <div class="col-12 col-md-6 col-lg-3 mb-4">
      <div class="card">
        <img src="samsung-galaxy-z-fold6.webp" class="card-img-top pb-3" alt="...">

        <div class="content-card" style="background-color: #F2F2F3;">
          <h5 class="card-title text-center pt-4">Samsung Galaxy Z Fold 6</h5>
          <p class="card-text text-center"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> 
            <span style="font-size: 18px; color: #000000;"> 8 reviews</span>
          </p>
          <p class="card-text text-center py-3">
            <span style="font-size: 20px; color: #EB0028; font-weight: 400; margin-right: 15px;">$1730.00</span>
            <span><s style="font-size: 16px; color: #EB0028;">$1900.00</s></span>
          </p>
          <div class="d-flex justify-content-evenly pb-3">
            <button class="card-button btn-outline-light" routerLink="/chart">Add TO Chart</button>
            <button class="bg-success btn2" routerLink="/details" >Details</button>
          </div>
        </div>
      </div>
    </div>
    <!-- card four end  -->

  </div>
</div>

<!-- new arrivals end  -->

<!-- view more  -->

<div class="loaderr">

  <div class="container ">
    <div class="row">
      <p class="text-center">JENNIFER F., CASPER CUSTOMER</p>
      <h1 class="text-center">
        "Unbeatable price, and it’s super comfortable"
      </h1>
      <div>
        <a routerLink="login" class="btn btn-lg btn-round btn-theme Clor-btn btn-outline-light align-self">SHOP NOW</a>
      </div>

    </div>
  </div>
</div>





<!-- footer start  -->
<footer class="footer">
  <div class="container footer-inner">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div class="footer-item">
          <h4>Contact Us</h4>
          <div class="f-border"></div>
          <ul class="contact-info">
            <li>
              Address: 20/F Green Road, Dhanmondi, Dhaka
            </li>
            <li>
              Email: <a href="mailto:info@themevessel.com">info.com</a>
            </li>
            <li>
              Phone: <a href="tel:+0477-85x6-552">+XXXX XXXX XXX</a>
            </li>
            <li>
              Fax: +XXXX XXXX XXX
            </li>
          </ul>

          <ul class="social-list clearfix">
            <li><a href="https://www.facebook.com/profile.php?id=61558366100244" target="_blank" class="facebook-bgh"><i class="bi bi-facebook"></i></a></li>
            <li><a href="https://wa.me/201033282165" target="_blank" class="whatsapp-bgh"><i class="bi bi-whatsapp"></i></a></li>
            <li><a href="https://www.instagram.com/mohamedalli9090/profilecard/?igsh=a3d3djcybzRlcmtl" target="_blank" class="instagram-bgh"><i class="bi bi-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/in/mohamed-ali-996254247?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank"  class="linkedin-bgh"><i class="bi bi-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="recent-posts footer-item">
          <h4>Recent Posts</h4>
          <div class="f-border"></div>
          
          <div class="media mb-4">
            <a class="pr-3">
              <img src="Apple-iPhone-16-Pro-Max.webp" alt="iPhone 16 Pro Max">
            </a>
            <div class="media-body align-self-center">
              <h5>
                <a href="car-details.html">Apple iPhone 16 Pro Max</a>
              </h5>
              <p>Released: September 2023</p>
              <p><strong>$1,199</strong></p>
            </div>
          </div>

          <div class="media mb-4">
            <a class="pr-3">
              <img src="Samsung-Galaxy-S24-Ultra-5G.webp" alt="Samsung Galaxy S24 Ultra">
            </a>
            <div class="media-body align-self-center">
              <h5>
                <a href="car-details.html">Samsung Galaxy S24 Ultra</a>
              </h5>
              <p>Released: February 2024</p>
              <p><strong>$1,199</strong></p>
            </div>
          </div>

          <div class="media mb-4">
            <a class="pr-3">
              <img src="samsung-galaxy-z-fold6.webp" alt="Samsung Galaxy Z Fold 6">
            </a>
            <div class="media-body align-self-center">
              <h5>
                <a href="car-details.html">Samsung Galaxy Z Fold 6</a>
              </h5>
              <p>Released: August 2024</p>
              <p><strong>$1,799</strong></p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xl-12 d-flex justify-content-center">
        <p style="color: white;" class="copy">&copy; 2024 Designed by 
          <span style="color: #3C5BFC; font-weight: bold; font-size: 1.1em;">Eng. Mohamed Ali</span>
        </p>
      </div>
    </div>
  </div>
</footer>
