<div class="car-details-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12 slider">
                <div id="phoneDetailsSlider" class="carousel car-details-sliders slide mb-60" data-bs-ride="carousel">
                    <!-- Main slider carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-slide-number="0">
                            <img src="iPhone-15-Pro-Max-2.webp" class="img-fluid" alt="Phone Name">
                        </div>
                        <div class="carousel-item" data-bs-slide-number="1">
                            <img src="iPhone-15-Pro-Max-2.webp" class="img-fluid" alt="Phone Name">
                        </div>
                        <div class="carousel-item" data-bs-slide-number="2">
                            <img src="iPhone-15-Pro-Max-2.webp" class="img-fluid" alt="Phone Name">
                        </div>
                        <div class="carousel-item" data-bs-slide-number="3">
                            <img src="iPhone-15-Pro-Max-2.webp" class="img-fluid" alt="Phone Name">
                        </div>
                        <div class="carousel-item" data-bs-slide-number="4">
                            <img src="iPhone-15-Pro-Max-2.webp" class="img-fluid" alt="Phone Name">
                        </div>
                    </div>
                    <!-- Main slider carousel nav controls -->
                    <ul class="carousel-indicators smail-car list-inline nav nav-justified">
                        <li class="list-inline-item active">
                            <a id="carousel-selector-0" class="selected" data-bs-slide-to="0" data-bs-target="#phoneDetailsSlider">
                                <img src="iPhone-15-Pro-Max-2.webp" class="img-fluid" alt="sub-phone">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-1" data-bs-slide-to="1" data-bs-target="#phoneDetailsSlider">
                                <img src="iPhone-15-Pro-Max-2.webp" class="img-fluid" alt="sub-phone">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-2" data-bs-slide-to="2" data-bs-target="#phoneDetailsSlider">
                                <img src="iPhone-15-Pro-Max-2.webp" class="img-fluid" alt="sub-phone">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-3" data-bs-slide-to="3" data-bs-target="#phoneDetailsSlider">
                                <img src="iPhone-15-Pro-Max-2.webp" class="img-fluid" alt="sub-phone">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-4" data-bs-slide-to="4" data-bs-target="#phoneDetailsSlider">
                                <img src="iPhone-15-Pro-Max-2.webp" class="img-fluid" alt="sub-phone">
                            </a>
                        </li>
                    </ul>
                    <div class="heading-car">
                        <div class="row">
                            <div class="col-md-12 d-flex justify-content-between">
                                <div class="pull-left">
                                    <h3>Phone Name</h3>
                                    <p><i class="bi bi-geo-alt"></i>Location Name</p>
                                </div>
                                <div class="pull-right">
                                    <h3><span class="text-right">$Price</span></h3>
                                    <h5>Best Seller</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="car-meta mb-60">
                    <ul>
                        <li>
                            <i class="bi bi-speedometer2"></i>
                            <p>Storage: 256GB</p>
                        </li>
                        <li>
                            <i class="bi bi-phone-fill"></i>
                            <p>Brand Name</p>
                        </li>
                        <li>
                            <i class="bi bi-battery-full"></i>
                            <p>Battery: 4500mAh</p>
                        </li>
                        <li>
                            <i class="bi bi-camera"></i>
                            <p>Camera: 108MP</p>
                        </li>
                    </ul>
                </div>

                <div class="car-video mb-60">
                    <h3 class="heading">Phone Description</h3>
                    <p>This is a description of the phone.</p>
                </div>
                
                <div class="features-opions mb-60">
                    <h3 class="heading">Features</h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li>
                                    <i class="bi bi-speedometer2"></i>
                                    Top Speed: 260
                                </li>
                                <li>
                                    <i class="bi bi-battery-full"></i>
                                    Battery Life: 24 hours
                                </li>
                                <li>
                                    <i class="bi bi-camera"></i> 
                                    Front Camera: 12MP
                                </li>
                                <li>
                                    <i class="bi bi-gear"></i>
                                    Processor: A16 Bionic
                                </li>
                                <li>
                                    <i class="bi bi-phone-fill"></i>
                                    5G Enabled
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li>
                                    <i class="bi bi-palette"></i>
                                    Body Style: Glass & Metal
                                </li>
                                <li>
                                    <i class="bi bi-calendar3"></i>
                                    Year: Model Year
                                </li>
                                <li>
                                    <i class="bi bi-palette"></i>
                                    Color: Available in multiple colors
                                </li>
                                <li>
                                    <i class="bi bi-lightning-charge"></i>
                                    Fast Charging: Yes
                                </li>
                                <li>
                                    <i class="bi bi-door-closed"></i>
                                    Dual SIM: Yes
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li>
                                    <i class="bi bi-geo-alt"></i>
                                    Location: Location Name
                                </li>
                                <li>
                                    <i class="bi bi-wrench"></i>
                                    Warranty: 1 Year
                                </li>
                                <li>
                                    <i class="bi bi-palette"></i>
                                    Interior Color: Black
                                </li>
                                <li>
                                    <i class="bi bi-lightning"></i>
                                    Wireless Charging
                                </li>
                                <li>
                                    <i class="bi bi-droplet-half"></i>
                                    Waterproof: IP68
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Placeholder for right side content -->
            <div class="col-lg-4 col-md-12">
                <div class="sidebar mbl">
                    <!-- Specifications start -->
                    <div class="specifications widget d-none d-xl-block d-lg-block">
                        <h5 class="sidebar-title">Specifications</h5>
                        <ul>
                            <li>
                                <span>Brand</span>Brand Name
                            </li>
                            <li>
                                <span>Name</span>Phone Name
                            </li>
                            <li>
                                <span>Type</span>Smartphone
                            </li>
                            <li>
                                <span>Processor</span>Model Year
                            </li>
                            <li>
                                <span>Storage</span>256GB
                            </li>
                            <li>
                                <span>RAM</span>8GB
                            </li>
                            <li>
                                <span>Display</span>6.7 inches
                            </li>
                            <li>
                                <span>Battery</span>4500mAh
                            </li>
                            <li>
                                <span>Operating system</span>iOS/Android
                            </li>
                            <li>
                                <span>Color</span>Multiple Colors
                            </li>
                        </ul>
                    </div>
                    <!-- Social list start -->
                    <div class="social-list widget clearfix">
                        <h5 class="sidebar-title">Follow Us</h5>
                        <ul>
                            <li><a href="https://www.facebook.com/profile.php?id=61558366100244" target="_blank" class="facebook-bgh"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="https://wa.me/201033282165" target="_blank" class="whatsapp-bgh"><i class="bi bi-whatsapp"></i></a></li>
                            <li><a href="https://www.instagram.com/mohamedalli9090/profilecard/?igsh=a3d3djcybzRlcmtl" target="_blank" class="instagram-bgh"><i class="bi bi-instagram"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/mohamed-ali-996254247?utm_source=share&utm_campaign=member_desktop_share&originalSubdomain=eg" target="_blank" class="linkedin-bgh"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!-- End Social list -->

                    
                    <div class="social-list widget clearfix text-center">
                        <h5 class="sidebar-title">Buy Now</h5>
                        
                        <button class="card-button btn-outline-light">Add TO Chart</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container ">

    <div class="text-center">
      <h1>RELATED PRODUCTS</h1>
      <p class="pb-5 pt-2" style="letter-spacing: 7px; color: #8A8A8A;">FIND THE PERFECT PHONE FOR YOU</p>
    </div>
    <div class="row justify-content-center">
      <!-- card one  -->
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card">
          <img src="Apple-iPhone-16-Pro-Max.webp" class="card-img-top pb-3" alt="...">
  
          <div class="content-card" style="background-color: #F2F2F3;">
            <h5 class="card-title text-center pt-4">Iphone 16 Pro Max</h5>
            <p class="card-text text-center"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> 
              <span style="font-size: 18px; color: #000000; "> 21 reviews</span>
            </p>
            <p class="card-text text-center py-3">
              <span style="font-size: 20px; color: #EB0028; font-weight: 400; margin-right: 15px;">$1300.00</span>
              <span><s style="font-size: 16px; color: #EB0028;">$1500.00</s></span>
            </p>
            <div class="d-flex justify-content-evenly pb-3">
              <button class="card-button btn-outline-light">Add TO Chart</button>
              <button class="bg-success btn2">Details</button>
            </div>
          </div>
        </div>
      </div>
      <!-- card one end  -->
  
      <!-- card two  -->
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card">
          <img src="iPhone-15-Pro-Max-2.webp" class="card-img-top pb-3" alt="...">
  
          <div class="content-card" style="background-color: #F2F2F3;">
            <h5 class="card-title text-center pt-4">Iphone 15 Pro Max</h5>
            <p class="card-text text-center"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> 
              <span style="font-size: 18px; color: #000000;"> 7 reviews</span>
            </p>
            <p class="card-text text-center py-3">
              <span style="font-size: 20px; color: #EB0028; font-weight: 400; margin-right: 15px;">$1150.00</span>
              <span><s style="font-size: 16px; color: #EB0028;">$1350.00</s></span>
            </p>
            <div class="d-flex justify-content-evenly pb-3">
              <button class="card-button">Add TO Chart</button>
              <button class="bg-success btn2">Details</button>
            </div>
          </div>
        </div>
      </div>
      <!-- card two end  -->
  
      <!-- card three  -->
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card">
          <img src=" Samsung-Galaxy-S24-Ultra-5G.webp" class="card-img-top pb-3" alt="...">
  
          <div class="content-card" style="background-color: #F2F2F3;">
            <h5 class="card-title text-center pt-4">Samsung Galaxy S24 Ultra</h5>
            <p class="card-text text-center"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> 
              <span style="font-size: 18px; color: #000000;"> 28 reviews</span>
            </p>
            <p class="card-text text-center py-3">
              <span style="font-size: 20px; color: #EB0028; font-weight: 400; margin-right: 15px;">$1250.00</span>
              <span><s style="font-size: 16px; color: #EB0028;">$1400.00</s></span>
            </p>
            <div class="d-flex justify-content-evenly pb-3">
              <button class="card-button">Add TO Chart</button>
              <button class="bg-success btn2">Details</button>
            </div>
          </div>
        </div>
      </div>
      <!-- card three end  -->
  
      <!-- card four  -->
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card">
          <img src="samsung-galaxy-z-fold6.webp" class="card-img-top pb-3" alt="...">
  
          <div class="content-card" style="background-color: #F2F2F3;">
            <h5 class="card-title text-center pt-4">Samsung Galaxy Z Fold 6</h5>
            <p class="card-text text-center"><i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> <i class="bi bi-star-fill"></i> 
              <span style="font-size: 18px; color: #000000;"> 8 reviews</span>
            </p>
            <p class="card-text text-center py-3">
              <span style="font-size: 20px; color: #EB0028; font-weight: 400; margin-right: 15px;">$1730.00</span>
              <span><s style="font-size: 16px; color: #EB0028;">$1900.00</s></span>
            </p>
            <div class="d-flex justify-content-evenly pb-3">
              <button class="card-button">Add TO Chart</button>
              <button class="bg-success btn2">Details</button>
            </div>
          </div>
        </div>
      </div>
      <!-- card four end  -->
  
    </div>
  </div>